{
    "username": "<rackspace username>",
    "api_key": "<rackspance user api key>",
    "account_id": "<rackspace account id>",
    "domain_id": "<rackspace domain id>",
    "record" : {
	"ttl": 300,
	"id": "<record id>",
	"name": "<record name>"
    }
}
